/* purgecss start ignore */
img {
  height: auto;
  width: 100%;
  display: block;
}

[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}

[style*='--aspect-ratio'] > img {
  height: auto;
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }

  [style*='--aspect-ratio']::before {
    content: '';
    display: block;

    --aspect: (var(--aspect-ratio));
    padding-bottom: calc(100% / (var(--aspect)));
  }

  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
/* purgecss end ignore */
