// Colors
$white: #fff;
$grey-light: #eafaff;
$grey-light-alt: #dbf2f9;

$blue-main: #3671cd;
$blue-dark: #102d5c;
$blue-light: #b3c9ec;
$blue-bg: #14356b;

$yellow: #fbd088;
$red: #d62b31;

// Breakpoints
$s-breakpoint: rem(375px);
$sm-breakpoint: rem(500px);
$m-breakpoint: rem(768px);
$l-breakpoint: rem(1024px);
$xl-breakpoint: rem(1280px);
$xxl-breakpoint: rem(1440px);

// hamburger menu
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $blue-light;
$hamburger-layer-border-radius: 4px;
$hamburger-hover-opacity: 0.7;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
