.videos-list {
  margin: 0 auto;
  max-width: rem(1100px);

  .fancy-title {
    margin: rem(0 0 10px 0);
  }

  .videos {
    display: grid;
    grid-gap: 1rem;
    min-width: 0;

    // prettier-ignore
    @include responsive('grid-template-columns', (xs: 100%, sm: repeat(2, 47.5%), m: repeat(3, 32%)));
  }
}
